$white: #FFFFFF;
$black: #000000;
$background-color: #F6F6F6;
$background-inactive-color: #EEEEEE;
$border-color: #DBDBDB;
$ghost-color: #767676;
$text-muted: $ghost-color;
$body-text-color: #444444;
$header-text-color: #242424;
$brand-purple: #6633CC;
$brand-green: #99CC00;
$brand-navy: #19223C;
$font-family-fallback: Arial, sans-serif;
$font-family-stack: "Helvetica Neue", "Helvetica", #{$font-family-fallback};