<!DOCTYPE html>
<html>

<head>
    <title>Chat Test</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>

<body>
    <main>
      <!-- this represents the page at-large -->
    </main>
    <section class="chat-layer">
      <div class="chat-window">
        <div class="chat-window-header">
          <span class="chat-window-label">Chat</span>
          <div class="chat-window-close">
            ×<!--using unicode multiply (U+00D7)-->
          </div>
        </div>
        <div class="chat-window-timeline">
          <div class="chat-message chat-partner">
            <div class="chat-bubble">Hi! Do you have any questions I can answer for you?</div>
          </div>
          <div class="chat-message chat-user">
            <div class="chat-bubble">Test message</div>
          </div>
          <div class="chat-message chat-user-options">
            <div class="chat-bubble">
              Not now
            </div>
            <div class="chat-bubble">
              Yes, please
            </div>
          </div>
          <div class="chat-message chat-partner">
            <div class="chat-bubble">No problem! If you decide you need me, just click "Contact Us."</div>
          </div>
          <div class="chat-message chat-partner-typing">
            <div class="chat-bubble">
              <div class="chat-partner-typing-oval"></div>
              <div class="chat-partner-typing-oval"></div>
              <div class="chat-partner-typing-oval"></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/chat.js"></script>
</body>

</html>
